.bg-weather{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: -99;
}
.ul-control{
  position: relative;
}
.li-title_weather{
  transition: .8s;
  width: 220px;
  height: 350px;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #323336;
  display: inline-block;
}
.li-title_weather:hover{
  cursor: pointer;
  background: #828282;
}
.ul-control-style{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.ul-control-style>li:not(:last-child){
  margin-right: 5px;
}
.li-title_weather-daysOfWeek{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  padding: 17px 0;
  border-bottom: 2px solid #060D14
}
.li-title_weather-days{
  font-family: 'Roboto', sans-serif;
  font-size: 41px;
  color: #ffffff;
  margin-top: 15px;
  text-align: center;
}
.li-title_weather-month{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin-top: 15px;
}
.li-title_weather-icon{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.deg>p:before{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-left: 10px;
}
.deg{
  display: flex;
}
.deg>p{
  display: flex;
  font-size: 30px;
  color: #ffffff;
}
.deg>span{
  font-size: 30px;
  color: #ffffff;
  display: flex;
}
.li-title_weather-temperature{
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  align-items: center;
}
.li-title_weather-temperature-svg{
  width: 40px;
  height: 40px;
  fill: white;
}
.data-active{
  text-align: center;
  color: #ffffff;
  margin-top: 35px;
  font-size: 42px;
}
.weatherActive{
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100%;
  background: #5064A0;
}
.weatherDef{
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100%;
}
.detailed-weather-ul{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
  justify-content: center;
  background: rgba(50, 51, 54, 0.7);
  margin-top: 40px;

}
.detailed-weather-ul>li{
  margin: auto;

}
.detailed-weather_title{
  border-bottom: 2px solid #161616;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-size: 30px;
}

.detailed-weather_temperature{
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.detailed-weather_temperature>p:after{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ffffff;
  vertical-align: top;
  margin-left: 5px;
}
.detailed-weather_pressure,.detailed-weather_humidity,.detailed-weather_wind{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}
.detailed-weather{
  position: relative;
  width: 100%;
}
.nav-left{
  left: 0;

}
.nav-right{
  right: 0;
}
.ul_control_btn{
  display: none;
  background: none;
  border: none;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
/*media queries*/
@media only screen  and (max-width : 1300px) {

  .li-title_weather{
    width: 140px;
    height: 240px;
  }
  .li-title_weather-daysOfWeek{
    font-size: 18px;
  }
  .li-title_weather-days{
    font-size: 26px;
  }
  .li-title_weather-month{
    font-size: 14px;
  }
  .li-title_weather-icon>img{
    width: 66px;
    height: 64px;
  }
  .deg > span{
    font-size: 18px;
  }
  .li-title_weather-temperature-svg{
    width: 20px;
    height: 20px;
  }
  .deg > p{
    font-size: 18px;
  }
  .deg > p:before{
    width: 4px;
    height: 4px;
    margin-left: 5px;
  }

  .detailed-weather-ul>li:nth-child(4){
    border-right: none;
  }

}
@media only screen  and (max-width : 1290px) {
  .detailed-weather-ul{
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
  }
}
@media only screen  and (max-width : 900px) {
  .detailed-weather-ul{
    grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
  }

}
@media only screen  and (max-width : 380px) {
  .detailed-weather-ul{
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
  }
}
@media only screen  and (max-width : 500px) {
.ul-control-style{
  width: 700px;
}
  .ul_control_btn{
    display: block;
  }
}
@media only screen  and (max-width : 411px){
  .ul-control-style{
    width: 640px;
  }
}
@media only screen  and (max-width : 375px){
  .ul-control-style{
    width: 600px;
  }
}
@media only screen  and (max-width : 320px){
  .ul-control-style{
    width: 550px;
  }
}
