<div  class="main-my_project">
  <div  class="bg-register" [ngStyle]="{'background' : 'url(./assets/img/register-bg.jpg)14% 0','background-size': 'cover'}"></div>
  <div class="container-form">
    <form style="position: relative" (ngSubmit)="onSubmit()" class="example-form form-register">
      <h1 class="mat-h1 registration-h1">Login</h1>
      <mat-form-field class="example-full-width register-input">
        <mat-label>Email</mat-label>
        <input (focusout)="email()" matInput [formControl]="emailFormControl" [ngClass]="errorEmail.length?'api-error':''"  [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-hint *ngIf="!errorEmail.length">Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error class="error_api_email" *ngIf="errorEmail.length">
        <strong *ngFor="let error of errorEmail">
          {{error}}
        </strong>
      </mat-error>
      <mat-error class="error_api_email" *ngIf="errorName.length">
        <strong *ngFor="let error of errorName">
          {{error}}
        </strong>
      </mat-error>

      <mat-form-field class="example-full-width register-input">
        <mat-label>Password</mat-label>
        <input type="password"  (focusout)="password()" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
               placeholder="password">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
          Password is <strong>min 6 letters</strong>
        </mat-error>
      </mat-form-field>
      <mat-error class="error_api_password" *ngIf="errorPassword.length">
        <strong *ngFor="let error of errorPassword">
          {{error}}
        </strong>
      </mat-error>
      <button style="margin-top: 40px" class="form-control form__register" type="submit" mat-button color="accent">Login
      </button>
      <button routerLink="/registration" style="margin-top: 40px" class="form-control form__register" mat-button color="accent">Registration
      </button>
      <button (click)="signInWithGoogle()" >login google</button>
      <button>login facebook</button>
    </form>
    <div *ngIf="user">
    <img src="{{ user.photoUrl }}">
    <div>
      <h4>{{ user.name }}</h4>
      <p>{{ user.email }}</p>
    </div>
    </div>
  </div>
</div>
