.bg-register {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -99;
  height: 100vh;
  min-height: 800px;
}
.form-register{
  /*width: 450px;*/
  margin: 100px auto;
}
.form-register{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 450px;
}
.registration-h1{
  font-size: 75px;
  letter-spacing: 1.3px;
  margin-bottom: 40px;
}
.form__register {
  font-size: 20px;
  transition: .8s;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  background-color: rgba(50, 51, 54, 1);
  border: none;
  color: rgba(255, 254, 254, 1);
  min-width: 81px;
  min-height: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.43);
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.43);
}

.form__register:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #161616;
}

.form__register:focus {
  outline: none;
}
.register-input{
  margin-bottom: 30px;
}
.error_api_email{
  margin-top: -15px;
  margin-bottom: 15px;
}
.error_api_email::placeholder{
  color: #f44336;
}
.error_api_email{
  color: #f44336;
}
.error_api_password{
  margin-top: -15px;

}
.placeholder{
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.6);
  right: 0;
  top: 0;
}
.cropImg{
  position: absolute;
  left: 50%;
  top: 3%;
  width: 200px;
  height: 80px;
  background: #909690;
  transform: translateX(-50%);
}
@media only screen  and (max-width : 500px) {
  .form-register{
    width: 200px;
    margin: 50px auto;
  }
  .mat-h1{
    font-size: 31px;
    letter-spacing: 1.3px;
    margin-bottom: 5px;
  }

}
