<div class="main-my_project pos-music">
<div class="bg-music" [ngStyle]="{'background' : 'url(./assets/img/bg-music.jpg)','background-size': 'cover'}"></div>


  <div style="max-width: 800px" class="audio">
    <img src="./assets/music/Music-bg.png" alt="">
  <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle"
                             [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
                             [expanded]="true" [displayVolumeControls]="true">

  </mat-advanced-audio-player>
  </div>

</div>
