/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~ngx-toastr/toastr';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  color: #ffffff;
}

.circle__red{
  background: #E76847;
}
.circle__green{
  background: #52BEA6;
}
.circle__yellow{
  background: #FABF00;
}
li:focus{
  outline: none;
}
.main-my_project{
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;

}

.navigation-favorite{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);;
}
.navigation-favorite>li{
  display: flex;
  align-items: flex-end;
}


/*modal*/

  .modal{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.text-aboutProject{
  padding: 100px 20px;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
}
.text-aboutProject>h1{
  margin-bottom: 20px;
}
img{
  max-width: 100%;
  height: auto;
}
mat-expansion-panel{
  background: #ffffff !important;
  color: rgba(0,0,0,.7) !important;
}
.mat-expansion-indicator:after {
  color: rgba(0,0,0,.7) !important;
}

.ngx-advanced-audio-player {
  background: #ffffff !important;
  color: rgba(0,0,0,.7) !important;
}
/*.mat-table{*/
  /*background: #ffffff !important;*/
/*}*/

.mat-header-cell{
  background: #ffffff !important;
  color: rgba(0,0,0,.7) !important;
  border-bottom-color: rgba(0,0,0,.7);
}
.mat-cell{
  background: #ffffff !important;
  color: rgba(0,0,0,.7) !important;
  border-bottom-color: rgba(0,0,0,.7);
}
td.mat-cell{
  border-bottom: 2px solid black;
}

.mat-header-row>th{
  border-bottom-color: rgba(0,0,0,.7);
}
.mat-paginator-container{
  background: rgb(76, 76, 76) !important

}
.ng-star-inserted>.p-1{
  background: rgb(76, 76, 76) !important;
}

.mat-progress-bar-fill::after{
  background: #52bea6;
}

.saveMusic{
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-transition: .8s all;
  transition: .8s all;
  padding: 10px;
  color: white;
  background-color: #4c4c4c;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;

}
.saveMusic:hover {
  background-color: #fcfcfc;
  color: #4c4c4c;
}
