<div class="main-my_project">
<div class="bg-philosophy" [ngStyle]="{'background' : 'url(./assets/img/philosophy.jpg)14% 0','background-size': 'cover'}"></div>
  <div class="modal">
    <div class="text-aboutProject">
      <h1>
        This page is under construction, news and weather pages are currently working.
      </h1>
      <div>
        <ul>
          <li>  My design (developed by myself)- <a href="https://www.figma.com/file/TX9seoVNC7qnIXlk3X7V9C/Dashboard-My?node-id=489%3A21518">
            https://www.figma.com/file/TX9seoVNC7qnIXlk3X7V9C/Dashboard-My?node-id=489%3A21518
          </a>
          </li>
          <li>
            api news - <a href="https://newsapi.org">https://newsapi.org</a>
          </li>
          <li>
            api weather - <a href="https://openweathermap.org/api">https://openweathermap.org/api</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
