<div class="main-my_project">
  <div class="bg-philosophy"
       [ngStyle]="{'background' : 'url(./assets/img/philosophy.jpg)14% 0','background-size': 'cover'}"></div>
  <div class="container-users">
    <div *ngIf="users" class="card_ul">
      <owl-carousel-o [options]="customOptions">
        <ng-container  *ngFor="let user of users;let myIndex = index">
          <ng-template carouselSlide>
            <div class="card-li">
              <mat-card   (click)="toggleCard(myIndex)" class="style-card" [className]="myIndex === philosophyActiveCard ? 'style-card style-card-active': 'style-card'">
                <div class="title-card">
                  <div class="title-card-name">{{user.user_name}}</div>
                </div>
                <div class="avatar-user">
                  <img *ngIf="user.avatar" style="width: 70px;height: 70px;border-radius: 50%;"
                       src="{{local+user.avatar}}" alt="">
                  <img *ngIf="user.avatarSocial" style="width: 70px;height: 70px;border-radius: 50%;"
                       src="{{user.avatarSocial}}" alt="">
                </div>
                <div class="registration-user">Registration:<br> {{user.created_at}}</div>
              </mat-card>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
